html
  box-sizing: border-box
  font-size: 10px

*,
*::before,
*::after
  box-sizing: inherit

html,
body
  width: 100%

.wrapper 
	display: flex
	flex-direction: column
	min-height: 100%

.container
  max-width: 120rem
  margin: 0 auto
  padding: 0 1.5rem

ul,
li
  margin: 0
  padding: 0

a
  text-decoration: none
  