.btn
  border: none
  background-color: transparent
  border-radius: 0.3rem
  cursor: pointer
  outline: none
  &-big
    padding: 2.1rem 3.9rem 2rem

    font-size: 1.8rem
    line-height: 2.2rem
    font-weight: 900

    border: 0.3rem solid $white
  &-small
    padding: 1.6rem 3.2rem 1.6rem 3.3rem
    font-size: 1.4rem
    line-height: 1.7rem
    font-weight: 500

    border: 0.2rem solid $primary
    color: $primary
  &-light
    color: $white

.reviews
  display: flex
  align-items: center
  justify-content: space-between
  padding-right: 12.8rem
  max-width: 56.9rem
  min-height: 8.8rem

  &-border
    border-top: 0.05rem solid $border
    border-bottom: 0.05rem solid $border

  &__text
    position: relative
    padding-left: 4.2rem

    font-size: 1.8rem
    line-height: 2.6rem
    span
      font-weight: 600
    &::before
      content: ''
      position: absolute
      left: 0
      top: -0.8rem
      width: 3.2rem
      height: 3.58rem

      background: url('../images/svg/icon-cup.svg') no-repeat center/cover


      



  
