.photosession
  padding-top: 7rem

  &__inner

    &-row
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      margin-bottom: 3.9rem

    &-titel
      max-width: 46rem
      margin-bottom: 1.8rem      

      font-size: 4rem
      line-height: 4.9rem
      font-weight: 500

    &-text
      max-width: 54.9rem
      margin-top: 0
      margin-bottom: 5rem

      font-size: 1.8rem
      line-height: 2.6rem 

    &-item
      position: relative
      padding-left: 4.3rem

      font-size: 1.4rem
      line-height: 2rem
      font-weight: 500
      &::before
        content: ''
        position: absolute
        left: 0
        top: -0.8rem
        background:  no-repeat center/cover

      &:first-child        
        padding-left: 0
        margin-bottom: 3rem

      &:nth-child(2)
        margin-bottom: 5.3rem
        padding-left: 5.1rem
        &::before
          width: 4rem
          height: 3.7rem
          
          background-image: url('../images/svg/icon-clock.svg') 

      &:nth-child(3)
        margin-bottom: 4.6rem
        &::before
          width: 3.5rem
          height: 2.8rem
          
          background-image: url('../images/svg/icon-camera.svg') 

      &:nth-child(4)
        margin-bottom: 5.6rem
        &::before
          width: 3.3rem
          height: 3.3rem
          
          background-image: url('../images/svg/icon-location.svg')           

      &:last-child
        margin-bottom: 1rem
        &::before
          width: 3.1rem
          height: 3.1rem
          
          background-image: url('../images/svg/icon-message.svg')

     

    &-video
      flex-basis: 48%
     
      img
        object-fit: cover
        width: 100%
        height: 100%
      
    &-img     
      position: relative

    &-btn
      position: absolute
      padding: 0
      right: 4.5rem
      bottom: 3.5rem
      width: 1.6rem
      height: 2.3rem

      background: url(../images/svg/play.svg) no-repeat center/cover
      border: none
      cursor: pointer
      outline: none
      

    &-player     
      position: absolute
      display: none     
      top: 0 
      width: 100%
      height: 100%

   

@media screen and ( max-width:1132px ) 
  
  .photosession

    &__inner

      &-titel
        margin: 0 auto
        margin-bottom: 2rem

      &-row
        flex-direction: column
        align-items: center
        justify-content: center


      &-video        
        order: -1
        margin-bottom: 2rem
        flex-basis: 98%
        
        
        
        

    &__reviews
      margin: 0 auto

  
  



 


  